Source: ubuntu-system-settings-online-accounts
Section: gnome
Priority: optional
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               pkg-config,
               libsystemsettings-dev (>= 0.1+13.10.20130806),
               qt5-default,
               qtbase5-dev,
               qtdeclarative5-dev,
               xvfb,
Standards-Version: 3.9.4
Homepage: https://launchpad.net/ubuntu-system-settings-online-accounts
# If you aren't a member of ~online-accounts but need to upload packaging
# changes, just go ahead.  ~online-accounts will notice and sync up the
# code again.
Vcs-Bzr: https://code.launchpad.net/~online-accounts/ubuntu-system-settings-online-accounts/trunk

Package: ubuntu-system-settings-online-accounts
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         qtdeclarative5-accounts-plugin (>= 0.1),
         qtdeclarative5-ubuntu-ui-toolkit-plugin,
         ubuntu-system-settings
Description: Online Accounts setup for Ubuntu Touch
 Online Accounts setup utility for the Ubuntu Touch System Settings.

Package: libonline-accounts-client1
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
Pre-Depends: dpkg (>= 1.15.6~), ${misc:Pre-Depends},
Description: Library to interact with the Online Accounts panel
 The OnlineAccountsClient library offers an API for applications to invoke the
 Online Accounts panel in order to request the creation/configuration of
 accounts.

Package: libonline-accounts-client-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libonline-accounts-client1 (= ${binary:Version}),
Pre-Depends: dpkg (>= 1.15.6~), ${misc:Pre-Depends},
Description: Library to interact with the Online Accounts panel - development files
 The OnlineAccountsClient library offers an API for applications to invoke the
 Online Accounts panel in order to request the creation/configuration of
 accounts.

Package: qtdeclarative5-online-accounts-client0.1
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         qtdeclarative5-qtquick2-plugin,
Description: Online Accounts panel library for QML applications
 This module offers an API for applications to invoke the Online Accounts panel
 in order to request the creation/configuration of accounts.

Package: qtdeclarative5-online-accounts-client-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: Online Accounts panel library for QML applications - documentation
 This module offers an API for applications to invoke the Online Accounts panel
 in order to request the creation/configuration of accounts.
 .
 This package contains developer documentation.

Package: ubuntu-system-settings-online-accounts-autopilot
Architecture: all
Section: debug
Priority: extra
Depends: ${misc:Depends},
         autopilot-qt5,
         ubuntu-system-settings-online-accounts (>= ${binary:Version}),
         uoa-integration-tests,
         libqt5test5,
         python-autopilot,
         python-oauth,
Description: Online Accounts setup for Ubuntu Touch - tests
 Online Accounts setup utility for the Ubuntu Touch System Settings.
 .
 This package contains the autopilot tests for Online Accounts.
